<template>
  <div class="container">
    <h3>{{ translate("hotel.list") }}</h3>

      <fieldset class="border p-2 mb-3" v-for="hotel in hotels">
        <h4 class="form-label mr-2 mb-2">{{ hotel.name }}</h4>
        <div class="row no-gutters">
          <div class="col-sm-2 mr-2">
            <a href="#" class="btn btn-info col-sm-12 mb-2">
              {{ translate("hotel.details") }}
              </a>
          </div>
          <div class="col-sm-1 mr-2">
            <a class="btn btn-info col-sm-12 mb-2" href="#"><i class="fa fa-pencil-square-o"></i></a>
          </div>
          <div class="col-sm-1 mr-2">
            <form method="post">
              <button class="btn btn-info col-sm-12 mb-2">
                <i class="fa fa-files-o"></i>
              </button>
            </form>
          </div>
          <div class="col-sm-1 mr-2">
            <form method="post">
              <button class="btn btn-danger col-sm-12 mb-2">
                <i class="fa fa-trash"></i>
              </button>
            </form>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      hotels: [],
    };
  },
  mounted() {
    this.getHotels();
  },
  methods: {
    getHotels: function () {
      axios
        .get("api/hotels")
        .then((response) => {
          this.hotels = response.data.hotels;
        })
        .catch();
    },
  },
};
</script>
